@CHARSET "UTF-8";
@import "bootstrap.css";
@import "icomoon/style.css";
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);


html,body{
    position: relative;
    height: 100%;
}

body{
	background:#fff;
	font-family: 'Raleway',tahoma, sans-serif;
	font-size:13pt;
	color:#333;
	/* overflow-x: hidden; */
}
.banner{
	position: relative;
	color:#ccc;
	background-color:#232830;
	border-bottom:10px solid #5B90BF;
}

.banner h1{
	font-size:50px;
	font-weight: bolder;
}

.banner img.infographic{
	position: absolute;
	left: 0px;
	top: 0px;
	margin:20px;
	height:100%;
}


.link-box{
	background-color:#ccc;
	padding:15px;
}

.link-box a{
	color:#333;
}

.fs30{
	font-size: 30px;
}

.fs100{
	font-size: 100px;
}

.infographic i{
	font-size: 200px;
	color: #aaa;
}

.footer{
	color:#aaa;
	background-color:#232830;
	border-top:10px solid #5B90BF;
	padding:10px;
}
.clear{
	clear: both;
}
.pitch{
	background-color: #f5f5f5;
	padding:20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.padding10{
	padding: 10px;
}
.no-margin{
	margin:0px;
}

div.row{
	margin:0px !important;	
}

img.screenshot{
	border:10px solid #f5f5f5;
}

@media(max-width:980px){
	.shopping-girl{
	display: none;
	}
}