.logo{
  position: relative;
 width: 300px;
 margin: 40px auto;
 padding: 20px 5px;
 text-align: center;
}



.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
   /*  padding-left: 70px; */
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    
    width: 50px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 50;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    width: 100%;
    height: 100%;
}
#wrapper.active {
   /*  padding-left: 150px; */
}
#wrapper.active #sidebar-wrapper {
  /*   left: 150px; */
}

#page-content-wrapper {
  width: 100%;
}

.border{
	border:1px solid #ddd;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 50px;
    background: #222222 !important;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-align: center;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    /* left: 150px; */
    width: 150px;
    transition: all .4s ease 0s;
}
}

.main-top{
	width:73%;margin:0 auto;
}

.frame-box{
	background:#fff;
	padding:10px;
	border:1px solid #ccc;
	min-height:580px;
	
}
.frame-footer{
	background:#fff;
	padding:10px;
	border:1px solid #ccc;
	border-top:none;
}

.mt5{
	margin-top:5px;
}

.mt10{
	margin-top:10px;
}

.mb10{
	margin-bottom:10px !important;
}

.mt20{
	margin-top:20px;
}

.mtm5{
	margin-top:-5px;
}

.mtm10{
	margin-top:-10px;
}

.mtm20{
	margin-top:-20px;
}

.btn-empty {
  color: #ccc;
  background-color: none;
  border-color: #555;
}
.btn-empty:hover,
.btn-empty:focus,
.btn-empty:active,
.btn-empty.active,
.open > .dropdown-toggle.btn-empty {
  color: #fff;
  background:#222;
  border-color: #777;
}
.btn-empty:active,
.btn-empty.active,
.open > .dropdown-toggle.btn-empty {
  background-image: none;
}
.btn-empty.disabled,
.btn-empty[disabled],
fieldset[disabled] .btn-empty,
.btn-empty.disabled:hover,
.btn-empty[disabled]:hover,
fieldset[disabled] .btn-empty:hover,
.btn-empty.disabled:focus,
.btn-empty[disabled]:focus,
fieldset[disabled] .btn-empty:focus,
.btn-empty.disabled:active,
.btn-empty[disabled]:active,
fieldset[disabled] .btn-empty:active,
.btn-empty.disabled.active,
.btn-empty[disabled].active,
fieldset[disabled] .btn-empty.active {
  border-color: #ccc;
}

.search-box{
	height:560px;border-right:1px solid #eee;
}
.cart-box{
	/* height:560px; */
}

#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
-moz-transition:width  0.2s ease-in-out;
-o-transition: width  0.2s ease-in-out;
transition: width  0.2s ease-in-out;
}
 
#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}   
.search-query:focus{
    width: 260px;
}   

.content{margin:0px; width:100%;  height:590px; overflow:auto;}
.content2{margin:0px; width:100%; height:353px; overflow:auto;}

.item-box{
	height:auto;border:1px solid #eee; width:100%;padding:10px 15px;
	margin-bottom:5px;
}



.item-box:hover .discount,.item-box:hover .cart-reorder{
	display: block;
}



.item-box .process{
	font-size:17pt;
}

.no-padding{
	padding:0px;
}

.no-margin{
margin:0px;	
}

.clear{
	clear: both;
}

small.dull{
	color: #606060;
}

.ae-tab ul{
	width:100%;
	height:30px;
list-style-type: none;
border-bottom:1px solid #ccc;
}

.ae-tab ul li,.ae-adjustable-tab ul li{
	width:auto;
	height:100%;
	display: inline;
	float: left;
}

.ae-tab ul li.active{
	border-bottom:3px solid #5C98FC;
}



.ae-tab ul li a,.ae-adjustable-tab ul li a{
	width: auto;
	padding:3px 15px;
	float: left;
	height:100%;
	border-right:1px solid #ccc;
	text-align: center;
	text-decoration: none;
	color: #999;
}

.ae-tab ul li a:hover,.ae-tab ul li.active a,.ae-adjustable-tab ul li a:hover,.ae-adjustable-tab ul li.active a{
	background-color: #f5f5f5;
	color: #222;
	}
	
	.ae-adjustable-tab ul{
	width:100%;
	height:40px;
	list-style-type: none;
	}
	
	.ae-adjustable-tab ul li {
	margin-bottom: 3px;
	}
	
	.ae-adjustable-tab ul li a{
	width:auto;
	padding: 3px 15px;
	background: #ddd;
	line-height: 35px;
	
	}
	
	.ae-adjustable-tab ul li:first-CHILD a{
	width:50px !important;
	}
	
		
	.padding5{
	padding:5px;
	}
	.padding10{
	padding:10px;
	}
	
	.add-stock-box{
	width: 500px;
	height:100%;
	z-index: 35;
	background: #fff;
	}
	
	.add-stock-box h3{
	border-bottom: 3px solid blue;
	}
	
	.rel{
	position: relative;
	}
	.absTL{
	position: absolute;
	top: 0;
	left: 0;
	}
	
	.absTB{
	position: absolute;
	top: 0;
	bottom: 0;
	}
	
	.absBL{
	position: absolute;
	left: 0;
	bottom: 0;
	}
	.absTR{
	position: absolute;
	top: 0;
	right: 0;
	}
	.category{
	margin:-10px 0px 0px -15px;
	z-index:10;
	}
	
	.margin5{
	margin:5px;
	}
	
	.margin10{
	margin:10px;
	}
	
	.hide2{
	display: none;
	}
	.upload{
	position:absolute;top:0px;left:0px;width:100%;height:100%;cursor:pointer;opacity:0;filter:opacity(0);
	}
	
	.absBR{
	position: absolute;
	right: 0;
	bottom: 0;
	}
	
.number-box{
	position: absolute;
	top:100%;
	left:-1px;
	width:200px;
	height:auto;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background: #fff;
	z-index: 10;
}

.number-box button{
	border-right: none;
	border-bottom: none;
}

.process{
	position: fixed;
	top:30px;
	left:0px;
	background: #fff;
	border:1px solid #ccc;
	width:100%;
	height:90%;
	z-index:70;
	display: none;
}

.process-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	height: auto;
	background: #f5f5f5;
	padding:5px;
	border-top:1px solid #ccc;
}

.borderR{
	border-right: 1px solid #ccc;
	height: 100%;
}
.h{
	height: 100%;
}
.w{
	width: 100%;
}
.bb-blue{
	border-bottom: 3px solid #428BCA;
}
.items-detail{
	overflow: auto;
	height: 500px;
}

.item-tag{
	position: relative;
	width: auto !important;
	height: auto;
	background-color: #ddd;
	padding:5px;
	float: left;
	margin: 0px 3px 3px 0px;
}

.bl{
	border-left:1px solid #ddd;
}
.br{
	border-right:1px solid #ddd;
}

	.lock {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #222;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	z-index: 30;
}
.disable{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	cursor: not-allowed;
	opacity: 0.7;
	filter: alpha(opacity=70);
	text-align: center;
	z-index:999999999999;
}
.calendar{
	position: absolute;
	top: 35px;
	width: auto;
	font-size:13px;
	z-index:20;
}

.calendar table{
	background: #fff;
}

.calendar select{
	width:80px;
}


.slider{
position:relative;
width:300px;
height:20px;
background:#fff;
padding:5px 0px;
cursor: pointer;
}
.slider .gauge{
position:relative;
width:100%;
height:20px;
background:#f5f5f5;
cursor: pointer;
}
.slider .sash{
position:absolute;
top:0px;
left:30px;
width:20px;
height:30px;
background:#0B97F0;
text-align:center;
font:normal 12px arial;
cursor: pointer;
}
.slider label{
position:absolute;
top:0px;
left:30px;
width:30px;
height:30px;
background:#f00;
}

 .border-info{
    border:1px solid #5bc0de;
    }
    
    .border-primary{
    border:1px solid #428BCA;
    }
    
     .border-success{
    border:1px solid #5cb85c;
    }
     .border-orange{
    border:1px solid #EB833C;
    }

.bg-color-black{
background-color: #222;	
}

 .fg-color-white{
 color: #fff;
 }
 
 
 .fg-color-red{
 color: red;
 }
    .bg-color-dorange{
    background: #C23300;
    }
    
    .bg-color-orange{
    background: #EB833C;
    }
    
    .bg-color-primary{
	background-color: #428BCA;
	}
	
	.bg-color-success{
	background-color: #5cb85c;
	}
	
	.bg-color-info{
	background-color: #5bc0de;
	}
	
	.bg-color-warning{
	background-color: #f0ad4e;
	}
	
	
	.bg-color-danger{
	background-color: #d9534f;
	}

.bg-color-white{
	background: #fff;
}
	
	.bg-color-lightPrimary{
	background-color: rgba(66,139,202,0.6);
	}
	
	.fg-color-danger{
	color: #d9534f;
	}
	
	    .fg-color-orange{
    color: #EB833C;
    }
    
    .fg-color-primary{
	color: #428BCA;
	}
	
	.fg-color-success{
	color: #5cb85c;
	}
	
	.fg-color-info{
	color: #5bc0de;
	}
	
	.fg-color-warning{
	color: #f0ad4e;
	}
	
	.fg-color-lBlack{
	color: #aaa;
	}
	
.bg-color-green{
	background-color: #4FDDA3;
}
 
 .bg-color-blue{
 background-color: #66A1F0;
 }
 
 .bg-color-red{
 background-color: #FB494A;
 }
 
 .bg-color-pink{
 background-color: #CC00D8;
 }
 
 .fs13{
 font-size: 13px;
 }
 
 .fs14{
 font-size: 14px;
 }
 .fs15{
 font-size: 15px;
 }
 
 .fs25{
 font-size: 25px;
 }
 
 .fs17{
 font-size: 17px;
 }
 
 .fs50{
  font-size: 50px;
 }
 
 .fs70{
  font-size: 70px;
 }
 .fs100{
  font-size: 100px;
 }
 
 .fs250{
  font-size: 250px;
 }
 
 .ae-well{
 background-color: #f5f5f5;
 }
 
.strike{
	text-decoration: line-through; 
 }
 
 .discount-input{
 width: 75px;
 height: 22px;
 padding:5px;
 }
 
 .product-code{
	 top:5px;
	 left:5px;
	 z-index:50;
 }
 
 .cart-customer{
 margin-top:5px;
 }
 
 .product-code input[type='text'],.cart-customer input[type='text']{
 	margin-bottom:5px;
 }
 
 .product-code input[type='text']:last-child,.cart-customer input[type='text']:last-child{
 	margin-bottom:0px;
 }
 
 ul.navlist{
	padding:0px;
	width:auto;
	
}
ul.navlist > li{
	position: relative;
list-style: none;
}

ul.navlist > li > a {
	position: relative;
	width: 100% !important;
	
	padding: 7px;
	margin-left:0px; 
	background: #F7F7F7;
	background:rgb(247,247,247);
	
	color:#333;
	text-decoration: none;
	cursor: default;
	float: left;
}

ul.navlist > li.active  > a,ul.link > li > a:hover{
	background:#0C97F0;
	background: rgb(12,151,240);
	color:#fff;
}


ul.navlist > li.attempt > a:after{
	content: '';
	position:absolute;
	top:0px;
	right:0px;
	width:5px;
	height:100%;
	background:#0C97F0;
}

ul.navlist > li  > a > span{
	opacity:0.8;
	margin-right:10px;
}

ul.link > li > a {
	cursor: pointer;
	}
 
 .suggest-sch{
	top:100% !important;
	width:100%;
	height:auto;
	max-height:150px;
	overflow-y:auto;
	z-index:10;
	}
	.edge-check{
	border-top: 15px solid #428BCA;
	border-bottom: 15px solid  transparent;
	border-right: 15px solid  #428BCA;
	border-left: 15px solid  transparent;
	}
	
	.bluBT{
	border-top:5px solid  #428BCA;
	}
	
	.bluB{
	border:1px solid  #428BCA;
	}
	
	
	.bg-color-primary{
	background-color: #428BCA;
	}
	
	.bg-color-success{
	background-color: #5cb85c;
	}
	
	.bg-color-info{
	background-color: #5bc0de;
	}
	
	.bg-color-warning{
	background-color: #f0ad4e;
	}
	
	
	.bg-color-danger{
	background-color: #d9534f;
	}

	
	.bg-color-lightPrimary{
	background-color: rgba(66,139,202,0.6);
	}
	
	.fg-color-danger{
	color: #d9534f;
	}
	
	.dashboard i{
		color: rgba(66,139,202,0.3);
	}
	
	.w100{
	width: 100%;
	}
	.dashboard a{
	color: #fff;
	text-decoration: none;
	}
	.fill{
	position: relative;
	width: 100%;
	height:100%;
	float: left;
	}
	
	.metric i{
	display: block;
	font-size: 50px;
	color: #fff;
	}
	
	.metric strong{
	font-size: 48px;
	}
	
	a.logo{
	color: #fff;
	text-decoration: none;
	
	}
label{
	font-weight: normal !important;
	font-size: 15px;
	
}

@font-face { 
font-family: rnd; 
src: url('digital_counter_7.ttf'); 
}

.digit{
  /* font-family: rnd; */
}
.nobl{
	border-left:none;
}
.image-store{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 50;
}
.cart-preview{
	width:650px;
	z-index: 999999999;
}
.blk{
	display: inline-table;
}

.bs-callout-info{
    background:#5bc0de;
    }
     .bs-callout-success{
    background:#5cb85c;
    }
    .bs-callout-orange{
    background:#EB833C;
    }
    .countdown{
    display: inline-table;
    }
   
    
    a.white{
	color: #fff;
	text-decoration: none;
	}
	
	.no-border{
	border:none;
	}
	
	.side-menu{
		width:300px;
		height: 600px;
		overflow: auto;
		z-index:9999;
		border-right:3px solid #428BCA;
		
	}
	.fg-color-white{
	color: #fff;
	}
	
	.confirm-box{
		position: relative;
		width:300px;
		border: 1px solid #428BCA;
		background-color: #fff;
		z-index: 9999999999;
		margin:auto;
	}
	
	.border{
	border:1px solid #ddd;
}


.no-margin{
	margin:0px !important;
}
.no-padding{
	padding:0px !important;
}
.mt_1{margin-top:-1px;}

.pr0{
	padding-right:0px;
}

.mini-thumbnail{
	width:30px;
	height:30px;
}

.blk{
	display: block;
}
.no-radius{
	border-radius: 0px;
	
}
.padR0{
	padding-right:0px;
}
.mt0{
	margin-top:0px;
}
.lh40{
	line-height: 40px;
}
.ml10{
	margin-left: 10px;
}
.mr10{
	margin-right: 10px;
}



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font: 15px 'Segoe UI',Arial,sans-serif;
  background-color: #EAEBE5;
  height: auto;
  padding: 10px;
  color:#7e8c8d;
  outline:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#recover input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*___________________________________*/
.container-form {
  border-top: 2px solid #aaa;
  box-shadow:  0 2px 10px rgba(0,0,0,0.8);
  width:288px;
  height:240px;
  margin:0 auto;
  position:relative;
  z-index:1;
  
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.container-form form {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  
  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;

}


.container-form.flipped .form-signin{
  
  opacity:0;
  
  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */
  
  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}

.container-form.flipped #recover{
  
  opacity:1;
  
  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}


.form-signin {
  z-index:100;
}

  
  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;

}

#login{
  background: #f3f3f3;
  z-index: 100;
}

#recover:before {
  /* The "Click here" tooltip */
  width:100px;
  height:26px;
  content:'Sign in ->';
  position:absolute;
  right:270px;
  top:15px;
}

#login:after {
  /* The "Click here" tooltip */
  width:150px;
  height:26px;
  position:absolute;
  right:-170px;
  top:15px;
}

#recover{
  background:#f3f3f3;
  z-index:1;
  
  /* Rotating the recover password form by default */
  -moz-transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
}

#formContainer.flipped #login{
  
  opacity:0;
  
  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */
  
  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}

#formContainer.flipped #recover{
  
  opacity:1;
  
  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}


/*----------------------------
  Inputs, Buttons & Links
-----------------------------*/


#login .flipLink,
#recover .flipLink{  
  height: 50px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  width: 50px;
}

#triangle-topright {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
  height: 0;
  border-top: 100px solid #ddd; 
  border-left: 100px solid transparent;
}

#triangle-topleft {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right:auto;
  left:0;
  width: 0;
  height: 0;
  border-top: 50px solid #ddd;
  border-right: 50px solid transparent;     
}

#recover .flipLink{
  right:auto;
  left:0;
}

#forkongithub a {
  box-sizing: content-box;
  background:#ddd;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#forkongithub a:hover {
  background:#aaa;
  color:#fff;
}

#forkongithub a::before, #forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after {
  bottom:1px;
  top:auto;
}

@media screen and (min-width:800px){
  #forkongithub {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
  }

  #forkongithub a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
    box-shadow:2px 2px 10px rgba(0,0,0,0.8);
  }
}

.fg-color-dull{
	color: #bbb;
}

.pos-dropdown{
	max-height:300px;
	overflow-y:auto;
	overflow-x:hidden;
	margin:0px 0px 0px -20px;
	list-style: none !important;
}

.pos-dropdown li{
	height:30px;
}
.pos-dropdown li a{
	color:#333;
	text-decoration: none;
}

.barcode-control{
	 opacity: 0;
	 width:10px;
}
.item-desc{
text-overflow: ellipsis;
font-size: 13px;
}