@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9xc28e');
	src:url('fonts/icomoon.eot?#iefix9xc28e') format('embedded-opentype'),
		url('fonts/icomoon.woff?9xc28e') format('woff'),
		url('fonts/icomoon.ttf?9xc28e') format('truetype'),
		url('fonts/icomoon.svg?9xc28e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-line31:before {
	content: "\e609";
}
.icon-invoice1:before {
	content: "\e608";
}
.icon-photos9:before {
	content: "\e600";
}
.icon-discount2:before {
	content: "\e601";
}
.icon-discount1:before {
	content: "\e602";
}
.icon-cloud305:before {
	content: "\e607";
}
.icon-fresh7:before {
	content: "\e61b";
}
.icon-bag21:before {
	content: "\e60b";
}
.icon-cart2:before {
	content: "\e60c";
}
.icon-circular:before {
	content: "\e60d";
}
.icon-full22:before {
	content: "\e60f";
}
.icon-seo1:before {
	content: "\e613";
}
.icon-shop1:before {
	content: "\e614";
}
.icon-shopping145:before {
	content: "\e61d";
}
.icon-store5:before {
	content: "\e617";
}
.icon-calculate:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-cog:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}
