.calculator{
	width: 228px;
	z-index: 10;
}
.calculator button{
width:50px;
height: 25px;
padding:2px !important;
background-color: #f7f6f6;
}
button.btn-func{
	background-color: #ccc;
}
.screen{
	margin-bottom:5px;
	font-size:20px !important;
	padding: 0px 7px 0px 5px;
	overflow: hidden;
}

.close-bracket{
color: #f0f0f0;
}
.calculator .btn-toolbar{
	margin-bottom: 5px;
}
