*{
padding:0px;
margin:0px;
}
body{
position:relative;
width:auto;
height:auto;
font: normal 14px arial; 
overflow-x: hidden;
}
.table{
width:100%;
height:auto;
display: table;
border-collapse: collapse;
border-spacing: 0px;
}
.table > .row{
display: table-row;
}

.table > .row > .cell{
display: table-cell;
}

.table-hover > .row:HOVER{
background-color: #f0f0f0;
}

.table-border .row{
border-bottom: 1px solid #f0f0f0;
}

.table-border .row:last-child{
border: none;
}

input[type='text']{
border:1px solid #ccc;
height:30px;
}

.control{
position: relative;
width:auto;
height:50px;
border:1px solid #ccc;
margin-bottom:10px;
}
.control input[type='text'],.control input[type='password'],.control input[type='email'],.control textarea{
width:100%;
height:100%;
border:none;
font-size: 17px;
}
.control label{
position:absolute;
bottom:0px;
right:0px;
padding:5px 10px;
display: block;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
background: #f5f5f5;
}
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
}
.success{
width:auto;
height:auto;
padding:5px;
border:1px solid #dce9c6;
background-color: #dff0d8;
color:#468847;
margin-bottom:3px;
}

.error{
width:auto;
height:auto;
padding:5px;
border:1px solid #eed3d7;
background-color: #f2dede;
color:#b94a48;
margin-bottom:3px;
}

a{
font-weight:bold;
color:#08659D;
text-decoration: none;
}
a:hover{
color: #606060;
}
.border{
border:1px solid #ccc;
}
.padding10{
padding:10px;
}
.noti-source{
position:relative;
height:480px;
overflow-y:auto;
}
.pull-right{
float: right;
}
.no-border{
	border:none;
}
.padding5{
	padding:5px;
}
.bg-color-white{
background-color: #fff;	
}

.bg-color-orange{
background-color:  #eb833c;	
}

.fg-color-orange{
color:  #eb833c;	
}

.fg-color-black{
		color: #606060;
}
.fg-color-white{
	color: #fff;
}
.bg-color-lightOrange{
	background-color: #F9DFCE;
}
 .bg-color-red{
     background-color: #f00;
     }
      .bg-color-green{
     background-color: #068000;
     }
      .bg-color-blue{
     background-color: #8FA7F9;
     }
      .fg-color-red{
      color: #f00;
     }
      .fg-color-green{
       color: #068000;
     }
      .fg-color-blue{
       color: #00f;
     }
.bg-color-warning{
	background:#f89406;
}
.bg-color-primary{
	background:#0044cc;
}
.bg-color-danger{
	background:#b94a48;
}
.bg-color-lightDanger{
background:#F7CDCC
}
.bg-color-success{
background:#468847;
}
.bg-color-lightSuccess{
background:#AAD0AA;
}
.bg-color-inverse{
background:#333;
}
.bg-color-info{
background:#3287ad;
}

.fg-color-info{
	color:#3287ad;
}


label{
	display: block;
}
.well{
	width:auto;
	height:auto;
	border:1px solid #ccc;
	background-color: #f5f5f5;
	padding:10px;
}