@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-bar18:before {
	content: "\e000";
}
.flaticon-barbecue:before {
	content: "\e001";
}
.flaticon-beer15:before {
	content: "\e002";
}
.flaticon-beer5:before {
	content: "\e003";
}
.flaticon-bird31:before {
	content: "\e004";
}
.flaticon-burger1:before {
	content: "\e005";
}
.flaticon-capricorn2:before {
	content: "\e006";
}
.flaticon-chicken1:before {
	content: "\e007";
}
.flaticon-chicken10:before {
	content: "\e008";
}
.flaticon-chicken4:before {
	content: "\e009";
}
.flaticon-cocktail7:before {
	content: "\e00a";
}
.flaticon-coffee20:before {
	content: "\e00b";
}
.flaticon-couple16:before {
	content: "\e00c";
}
.flaticon-cow9:before {
	content: "\e00d";
}
.flaticon-fast20:before {
	content: "\e00e";
}
.flaticon-fish6:before {
	content: "\e00f";
}
.flaticon-heating5:before {
	content: "\e010";
}
.flaticon-hot33:before {
	content: "\e011";
}
.flaticon-hot51:before {
	content: "\e012";
}
.flaticon-ice51:before {
	content: "\e013";
}
.flaticon-man288:before {
	content: "\e014";
}
.flaticon-man75:before {
	content: "\e015";
}
.flaticon-persons:before {
	content: "\e016";
}
.flaticon-pizza5:before {
	content: "\e017";
}
.flaticon-restaurant20:before {
	content: "\e018";
}
.flaticon-restaurant33:before {
	content: "\e019";
}
.flaticon-restaurant35:before {
	content: "\e01a";
}
.flaticon-rice:before {
	content: "\e01b";
}
.flaticon-rice2:before {
	content: "\e01c";
}
.flaticon-roast:before {
	content: "\e01d";
}
.flaticon-shop1:before {
	content: "\e01e";
}
.flaticon-softdrinks1:before {
	content: "\e01f";
}
.flaticon-street2:before {
	content: "\e020";
}
.flaticon-water38:before {
	content: "\e021";
}
.flaticon-wine2:before {
	content: "\e022";
}
