@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?912ccv');
	src:url('fonts/icomoon.eot?#iefix912ccv') format('embedded-opentype'),
		url('fonts/icomoon.woff?912ccv') format('woff'),
		url('fonts/icomoon.ttf?912ccv') format('truetype'),
		url('fonts/icomoon.svg?912ccv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-packages3:before {
	content: "\e618";
}
.icon-moving11:before {
	content: "\e619";
}
.icon-happy50:before {
	content: "\e61a";
}
.icon-fresh7:before {
	content: "\e61b";
}
.icon-cargo13:before {
	content: "\e61c";
}
.icon-box57:before {
	content: "\e60a";
}
.icon-bag21:before {
	content: "\e60b";
}
.icon-cart2:before {
	content: "\e60c";
}
.icon-circular:before {
	content: "\e60d";
}
.icon-contact11:before {
	content: "\e60e";
}
.icon-full22:before {
	content: "\e60f";
}
.icon-new35:before {
	content: "\e610";
}
.icon-sale3:before {
	content: "\e611";
}
.icon-schoolboy:before {
	content: "\e612";
}
.icon-seo1:before {
	content: "\e613";
}
.icon-shop1:before {
	content: "\e614";
}
.icon-shopping38:before {
	content: "\e615";
}
.icon-shopping63:before {
	content: "\e616";
}
.icon-shopping145:before {
	content: "\e61d";
}
.icon-store5:before {
	content: "\e617";
}
.icon-empty-cart:before {
	content: "\e607";
}
.icon-discount:before {
	content: "\e601";
}
.icon-cheetah:before {
	content: "\e600";
}
.icon-shopping100:before {
	content: "\e602";
}
.icon-calculate:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-cog:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}
.icon-arrow-down:before {
	content: "\e608";
}
.icon-arrow-up:before {
	content: "\e609";
}
